<div class="row">
    <div class="col-md-6">
      
        <div class="panel">
            <div class="panel-heading">
                <i class="icon icon-chevron-up chevron"></i>
                <i class="icon icon-wrench pull-right"></i> Quick Start
            </div>
            <div class="panel-content">

                <div class="btn-group btn-group-justified">
                    <a href="#" class="btn btn-primary col-sm-3">
                        <i class="glyphicon glyphicon-plus"></i>
                        <p>Service</p>
                    </a>
                    <a href="#" class="btn btn-primary col-sm-3">
                        <i class="glyphicon glyphicon-cloud"></i>
                        <p>Cloud</p>
                    </a>
                    <a href="#" class="btn btn-primary col-sm-3">
                        <i class="glyphicon glyphicon-cog"></i>
                        <p>Tools</p>
                    </a>
                    <a href="#" class="btn btn-primary col-sm-3">
                        <i class="glyphicon glyphicon-question-sign"></i>
                        <p>Help</p>
                    </a>
                </div>
            </div><!--/panel content-->
        </div><!--/panel-->


        <div class="panel panel-default">
            <div class="panel-heading">Report</div>
            <table class="table table-striped">
                <thead>
                    <tr><th>Col 1</th><th>Col 2</th><th>Col 3</th></tr>
                </thead>
                <tbody>
                    <tr><td>45</td><td>2.45%</td><td>Direct</td></tr>
                    <tr><td>289</td><td>56.2%</td><td>Referral</td></tr>
                    <tr><td>98</td><td>25%</td><td>Type</td></tr>
                    <tr><td>..</td><td>..</td><td>..</td></tr>
                    <tr><td>..</td><td>..</td><td>..</td></tr>
                </tbody>
            </table>
        </div><!--/panel-->


        <div class="panel panel-default">
            <div class="panel-heading">Charts</div>
            <div class="panel-body"><img src="http://www.wired.com/playbook/wp-content/uploads/2012/08/data-tracking-run-chart.jpg" class="img-responsive"></div>
        </div><!--/panel-->

    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Bootstrap 3</div>
            <div class="panel-body">
                This is a dashboard-style layout that uses Bootstrap 3 RC. You can follow the ongoing pre-release discussions about Bootstrap 3.0 on this <a href="https://github.com/twitter/bootstrap/pull/6342">GitHub thread</a>.
                <br><br>
                This Bootstrap 3 dashboard layout is compliments of <a href="http://bootply.com">Bootply</a>.
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <i class="glyphicon glyphicon-chevron-up chevron"></i>
                    <i class="glyphicon glyphicon-wrench pull-right"></i>
                    Form
                </div>
            </div>
            <div class="panel-body">

                <form class="form form-vertical">

                    <div class="control-group">
                        <label>Name</label>
                        <div class="controls">
                            <input type="text" class="form-control" placeholder="Enter Name">
                        </div>
                    </div>

                    <div class="control-group">
                        <label>Label</label>
                        <div class="controls">
                            <input type="password" class="form-control" placeholder="Password">

                        </div>
                    </div>

                    <div class="control-group">
                        <label>Text</label>
                        <div class="controls">
                            <textarea class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label>Select</label>
                        <div class="controls">
                            <select class="form-control"><option>options</option></select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label></label>
                        <div class="controls">
                            <button type="submit" class="btn btn-primary">
                                Post
                            </button>
                        </div>
                    </div>

                </form>


            </div><!--/panel content-->
        </div><!--/panel-->

        <div class="panel panel-default">
            <div class="panel-heading"><div class="panel-title">Engagement</div></div>
            <div class="panel-body pull-center">

                <img src="http://placehold.it/90X90/CC2222/FFF" class="img-circle">

                <img src="http://placehold.it/90X90/11CC22/FFF" class="img-circle">

                <img src="http://placehold.it/90X90/EEEEEE/222" class="img-circle">

            </div>
        </div><!--/panel-->


        <i class="icon-bar-chart icon-3x"></i>
        <i class="icon-plus icon-3x"></i>
        <i class="icon-facebook icon-3x"></i>
        <i class="icon-beaker icon-3x"></i>
        <i class="icon-twitter icon-3x"></i>


    </div>
    <!--/col-span-6-->
</div>


