<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Monthly Average Rainfall</div>
            <div class="panel-body" ng-controller="chartController">
                <highchart id="chart1" config="chartConfig1"></highchart>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Monthly Average Rainfall</div>
            <div class="panel-body" ng-controller="chartController">
                <highchart id="chart2" config="chartConfig"></highchart>
            </div>
        </div>
    </div>
</div>
