<div class="row" ng-controller="serverPerformanceController">
    <div class="col-md-3">
        <div class="panel panel-warning text-center">
            <div class="panel-body">
                <h1 class="text-info">{{RamCpu.RamUsage}} MB</h1>
            </div>
            <div class="panel-footer panel-info">Available RAM</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-warning text-center">
            <div class="panel-body">
                <h1 class="text-info">{{RamCpu.CpuUsage}} %</h1>
            </div>
            <div class="panel-footer panel-info">Total RAM</div>
        </div>
    </div>
</div>

